*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}


body{
    background-color:rgb(151, 198, 241);
}

header{
    background-color: rgb(120, 169, 243);
    
   
}
header img{
    float: left;
    width: 300px;
}
h1{
    position: relative;
    top: 30px;
    font-family: 'Tangerine', serif;
    font-size:50px;
    text-shadow: 4px 4px 4px #aaa;
    color:rgb(0, 0, 253) ;
    width: 25%;
    height: 100px;   
    font-weight: bold;
    font-style: oblique;
    margin: 0px auto 0px auto;
    text-align: center;
   
}
ul{
    position: absolute;
    top: 30px;
    right: 0px;

}

header nav ul li{
    float:right;
    margin: 20px;
    
}
header nav ul li a{
    color: blue;
    text-decoration: none;
    padding: 5PX;
    
}
h2{
    font-weight: 700;
    padding: 5PX;
}


.adress{
    position: relative;
    left: 20px;
    top: auto;
    width: 75%;
    float: left;   
    height: 500px;

    
}
.adress p{
    /* position: absolute; */
    /* left: 10%; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform:translate(-0%,-50%) ;  */
    line-height: 30px;
    padding: 30PX;
    padding-top: 10PX;
    background-image: url(family.jpg);
    background-repeat: no-repeat;
    height: 450PX;
    
} 
.sidePictures{
    width: 25%;
    float: left;
    padding: 10px;
    height: 500px;

}
.sidePictures img{
    height: 33%;
}
.column{
    position: relative;
    width:25%;
    float:left;
    text-align: center;
    padding: 10px;
    top: 100%;

}
footer{
    clear: both;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 169, 243);

}